# Environment variables, init functions
.env

# Data used by bot
**/*.txt
leaderboards.json
csvfiles/*

# GPT2 / Machine Learning stuff
checkpoint.tar
gpt2txt
machineLearningStuff.py
checkpoint

# Pycache junk
__pycache__

# Test files
test.py